.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
}

.parentSignup button {
  border: none;
  background-color: #f2f2f2;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
}

/* BACKGROUND IMAGE */
.playRoomImg {
  background-image: url("./images/Playroombackground.jpg");
  background-size: 98%;
  height: 110vh;
}

/* CHILD LOG IN */
.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
 .keyboard button{
border: none;
background-color: #f2f2f2;
font-size: 24px;
padding: 10px;
margin: 5px;
}


/* Painting Game */
.PaintingGame {
  text-align: center;
}

.color-picker {
  margin-bottom: 20px;
}

.canvas {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(40, 1fr);
  gap: 1px;
  background-color: white;
}

.pixel {
  background-color: white;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.pixel:hover {
  background-color: #eee;
}

/* PreLoaded Games */
.preloaded iframe {
  width: 100%;
  height: 80vh;
}

/* .frame iframe{

  pointer-events: none;

} */

.clickable {
  background-image: url("./images/playroomlinked.png");
}